<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         resolveDependencies="true">
    <testsuites>

        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>

        <testsuite>
            <directory>vendor/zncore/base</directory>
        </testsuite>

        <testsuite>
            <directory>vendor/zncore/db</directory>
        </testsuite>

        <testsuite>
            <directory>vendor/zncore/domain</directory>
        </testsuite>

    </testsuites>
</phpunit>